.infoviewbox {
    margin-bottom: 20px;
    position: relative;
}
.infoviewbox .infoviewbox-content {
    padding: 10px;
    background: white;
    display: block;
}
.infoviewbox .infoviewBox-accordion {
  
}
.infoviewbox .infoview-content-simple {
  padding: 20px;
  background: white;
  display: block;
}
.infoviewbox pre {
  border:0px;
  box-shadow: none;
  font-family: inherit;
  height:auto;
  max-height:100px;
}

.infoviewbox label {
  color: #AAA;
  font-weight: 300;
}
.infoviewbox .mouseAction {
  cursor: pointer;
  margin-right: 5px;
  margin-left: 5px;
}
.infoTableView .infoview-table.open-table {
  padding-bottom: 240px;
}
.infoview-content {
  
}
.infoview-content .form-actions {
/*   padding-right: 20px; */
/*   padding-left: 20px; */
  margin-bottom:5px;
}
.infoview-content .form-actions button {
  margin-left:20px;
}
.infoview-content .form-actions .form-icon {

}
.infoview-content .form-actions .form-icon.left {
    margin-left: 5px;
}
.infoview-content .form-actions .form-icon.right {
    margin-right: 5px;
}


.infoviewbox .panel-group .panel+.panel {
  margin-top: 0px;
}

.infoviewContainerTabs .nav.nav-tabs .fa-exclamation-triangle {
  font-size:10px;
}